<div class="container-fluid principal">

  <!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-lights p-4">
    <a class="navbar-brand text-dark">
      <i class="material-icons" style="cursor: pointer;font-size: 25px;" (click)="ComeBack()">
        chevron_left
      </i>
      Gestion Entrepôts
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0 mr-5" type="button" data-toggle="modal" data-target="#exampleModal4">
          + Nouvel Entrepôt
        </button>
        <div class="dropdown">
          <button class="btn btn-success text-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="userConnected">
            {{ userConnected.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Support</a>
            <a class="dropdown-item text-danger" (click)="Logout()" style="cursor: pointer;">Déconnexion</a>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <!--//nav bar -->
<div class="container-fluid table-user">
  <div class="text-center" *ngIf="isLoading.data === true">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table datatable class="row-border hover" [dtTrigger]="dtTrigger" id="table" style="">
    <thead>
      <tr>
        <th>Matricule</th>
        <th>Ville</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Adresse E-mail</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warehouse of wareHouses">
        <td>{{ warehouse.matricule }}</td>
        <td>{{ warehouse.ville}}</td>
        <td>{{ warehouse.adresse }}</td>
        <td>{{ warehouse.telephone }}</td>
        <td>{{ warehouse.email }}</td>
        <td class="text-success" *ngIf="warehouse.status === 'active'">{{ warehouse.status }}</td>
        <td class="text-danger" *ngIf="warehouse.status === 'inactive'">{{ warehouse.status }}</td>
        <td>
          <button class="btn btn-outline-warning" type="submit" data-toggle="modal" data-target="#exampleModal5" (click)="OpenModelUpdated(warehouse)">
            Modifier
          </button>
        </td>
        <td *ngIf="warehouse.status === 'active'">
          <button class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal6" (click)="OpenModelDelete(warehouse.id)">Fermer</button>
        </td>
        <td *ngIf="warehouse.status === 'inactive'">
          <button class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal3">Ouvrir</button>
        </td>
        <td>
          <button class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal7" (click)="DetailToWarehouse(warehouse.id)">
            Détails
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</div>



<!-- Modal 4 -->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="CreateWarehouse($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création d'un entrepôts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix" *ngIf="isLoading.create === true">
          <span class="text-warning">Création de l'entrepôt .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.create_error === true">
          Une erreur s'est produite. Veuillez vérifiez les informations inscrites svp !
        </div>
          <small class="text-muted">Inscrivez les informations suivantes</small>
          <br><br>
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <select class="custom-select" name="region" [(ngModel)]="wareHouseInfo.region" id="inputGroupSelect01">
                  <option selected>Choisir une région...</option>
                  <option value="n'zi">N’Zi</option>
                  <option value="Iffou">Iffou</option>
                  <option value="Bélier">Bélier</option>
                  <option value="Moronou">Moronou</option>
                  <option value="Indénié-Djuablin">Indénié-Djuablin</option>
                  <option value="Sud-Comoé">Sud-Comoé</option>
                  <option value="Folon">Folon</option>
                  <option value="Kabadougou">Kabadougou</option>
                  <option value="Gôh">Gôh</option>
                  <option value="Lôh-Djiboua">Lôh-Djiboua</option>
                  <option value="Agnéby-Tiassa">Agnéby-Tiassa</option>
                  <option value="Mé">Mé</option>
                  <option value="Grands Ponts">Grands Ponts</option>
                  <option value="Tonkpi">Tonkpi</option>
                  <option value="Cavally">Cavally</option>
                  <option value="Guémon">Guémon</option>
                  <option value="Haut-Sassandra">Haut-Sassandra</option>
                  <option value="Marahoué">Marahoué</option>
                  <option value="Poro">Poro</option>
                  <option value="Tchologo">Tchologo</option>
                  <option value="Bagoué">Bagoué</option>
                  <option value="Nawa">Nawa</option>
                  <option value="San-Pédro">San-Pédro</option>
                  <option value="Gbôklé">Gbôklé</option>
                  <option value="Hambol">Hambol</option>
                  <option value="Gbêkê">Gbêkê</option>
                  <option value="Béré">Béré</option>
                  <option value="Bafing">Bafing</option>
                  <option value="Worodougou">Worodougou</option>
                  <option value="Bounkani">Bounkani</option>
                  <option value="Gontougo">Gontougo</option>
                </select>
              </div>
            </div>
            <div class="col">
              <input type="text" name="departement" [(ngModel)]="wareHouseInfo.departement" class="form-control" placeholder="Entrez le département">
            </div>
          </div>

          <div class="row">
            <div class="col">
              <input type="text" name="sous_departement" [(ngModel)]="wareHouseInfo.sous_prefecture" class="form-control" placeholder="Entrez le sous-département">
            </div>
            <div class="col">
              <input type="text" name="village" [(ngModel)]="wareHouseInfo.village" class="form-control" placeholder="Entrez le village">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <input type="text" name="adresse" [(ngModel)]="wareHouseInfo.adresse" class="form-control" placeholder="Entrez l'adresse">
            </div>
            <div class="col">
              <input type="text" name="telephone" [(ngModel)]="wareHouseInfo.telephone" class="form-control" placeholder="Entrez le numéro de téléphone">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <select class="custom-select" name="status" [(ngModel)]="wareHouseInfo.status" id="inputGroupSelect01">
                  <option selected>Choisir un status...</option>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
              </div>
            </div>
            <div class="col">
              <input type="email" name="email" [(ngModel)]="wareHouseInfo.email" class="form-control" placeholder="Entrez l' adresse e-mail">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Modal 5 -->
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="UpdateWarehouse($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modification d'un entrepôts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix" *ngIf="isLoading.modify === true">
          <span class="text-warning">Modification de l'entrepôt .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.modify_error === true">
          Une erreur s'est produite. Veuillez réessayer plus tard svp !
        </div>
          <small class="text-muted">Modifier les informations suivantes</small>
          <div class="row">
            <div class="col">
              <div class="input-group mb-3">
                <select class="custom-select" name="region" [(ngModel)]="wareHouseUpdating.region" id="inputGroupSelect01">
                  <option selected>Choisir une région...</option>
                  <option value="n'zi">N’Zi</option>
                  <option value="Iffou">Iffou</option>
                  <option value="Bélier">Bélier</option>
                  <option value="Moronou">Moronou</option>
                  <option value="Indénié-Djuablin">Indénié-Djuablin</option>
                  <option value="Sud-Comoé">Sud-Comoé</option>
                  <option value="Folon">Folon</option>
                  <option value="Kabadougou">Kabadougou</option>
                  <option value="Gôh">Gôh</option>
                  <option value="Lôh-Djiboua">Lôh-Djiboua</option>
                  <option value="Agnéby-Tiassa">Agnéby-Tiassa</option>
                  <option value="Mé">Mé</option>
                  <option value="Grands Ponts">Grands Ponts</option>
                  <option value="Tonkpi">Tonkpi</option>
                  <option value="Cavally">Cavally</option>
                  <option value="Guémon">Guémon</option>
                  <option value="Haut-Sassandra">Haut-Sassandra</option>
                  <option value="Marahoué">Marahoué</option>
                  <option value="Poro">Poro</option>
                  <option value="Tchologo">Tchologo</option>
                  <option value="Bagoué">Bagoué</option>
                  <option value="Nawa">Nawa</option>
                  <option value="San-Pédro">San-Pédro</option>
                  <option value="Gbôklé">Gbôklé</option>
                  <option value="Hambol">Hambol</option>
                  <option value="Gbêkê">Gbêkê</option>
                  <option value="Béré">Béré</option>
                  <option value="Bafing">Bafing</option>
                  <option value="Worodougou">Worodougou</option>
                  <option value="Bounkani">Bounkani</option>
                  <option value="Gontougo">Gontougo</option>
                </select>
              </div>
            </div>
            <div class="col">
              <input type="text" name="departement" [(ngModel)]="wareHouseUpdating.departement" class="form-control" placeholder="Entrez le département">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Sous-préfecture</label>
              <input type="text" name="sous_prefecture" [(ngModel)]="wareHouseUpdating.sous_prefecture" class="form-control" placeholder="Entrez la sous-préfecture">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Village</label>
              <input type="text" name="village" [(ngModel)]="wareHouseUpdating.village" class="form-control" placeholder="Entrez la ville">
            </div>
            <div class="col">
              <label for="">Adresse</label>
              <input type="text" name="adresse" [(ngModel)]="wareHouseUpdating.adresse" class="form-control" placeholder="Entrez l'adresse">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Numéro de téléphone</label>
              <input type="text" name="telephone" [(ngModel)]="wareHouseUpdating.telephone" class="form-control" placeholder="Entrez le numéro de téléphone">
            </div>
            <div class="col">
              <label for="">Adresse E-mail</label>
              <input type="email" name="email" [(ngModel)]="wareHouseUpdating.email" class="form-control" placeholder="Entrez l'adresse e-mail">
            </div>
          </div>
          <br>
          <div class="row">
            <!--<div class="col">
              <label for="">Status Entrepôt</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="status" [(ngModel)]="wareHouseUpdating.status" id="inputGroupSelect01">
                  <option selected>Choisir un status...</option>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
              </div>
            </div>-->
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Modal 6 -->
<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="InactiveWare($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Motifs de Fermeture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix" *ngIf="isLoading.inactive === true">
          <span class="text-warning">Fermeture de l'entrepôt .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.inactive_error === true">
          Une erreur s'est produite. Veuillez réessayer plus tard svp !
        </div>
          <small class="text-muted">Modifier les informations suivantes</small>
          <div class="row">
            <div class="col">
              <label for="">Motifs</label>
              <textarea name="motifs" class="form-control" [(ngModel)]="wareHouseDeleting.motif" id="" cols="30" rows="5" ></textarea>
            </div>
          </div>
          <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </form>
  </div>
</div>



<!-- Modal 7 -->
<div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf='wareHouseInfo'>
        {{ wareHouseDetail }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div>
  </div>
</div>
