<div class="container-fluid principal">

  <!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-lights p-4">
    <a class="navbar-brand text-dark">
      <i class="material-icons" style="cursor: pointer;font-size: 25px;" (click)="ComeBack()">
        chevron_left
      </i>
      Gestion Financements
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0 mr-5" type="button" (click)="ManageAccount()">
          Gestion Compte
        </button>
        <button class="btn btn-outline-warning my-2 my-sm-0 mr-5" type="button" data-toggle="modal" data-target="#exampleModal518">
          Simulation
        </button>
        <button class="btn btn-outline-info my-2 my-sm-0 mr-5" type="button" data-toggle="modal" data-target="#exampleModal14" *ngIf="rightState && rightState.create === 1">
          + Nouveau financement
        </button>
        <div class="dropdown">
          <button class="btn btn-success text-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="userConnected">
            {{ userConnected.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="GoToProfil()">Profile</a>
            <a class="dropdown-item" href="#">Support</a>
            <a class="dropdown-item text-danger" (click)="Logout()" style="cursor: pointer;">Déconnexion</a>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <!--//nav bar -->
<div class="container-fluid table-user">
  <div class="text-center" *ngIf="isLoading.data === true">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table datatable class="row-border hover" [dtTrigger]="dtTrigger" id="table" style="" *ngIf="rightState && rightState.read === 1">
    <thead>
      <tr>
        <th>Banque</th>
        <th>Compte</th>
        <th>Type Acteur</th>
        <th>Acteur</th>
        <th>Etat</th>
        <th>Montant</th>
        <th>Date</th>
        <th>Status</th>
        <th *ngIf="rightState && rightState.update === 1"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let finance of financeList">
        <td>{{ finance.banque }}</td>
        <td>{{ finance.compte_number }}</td>
        <td>{{ finance.acteur_type }}</td>
        <td>{{ finance.acteur }}</td>
        <td>{{ finance.etat }}</td>
        <td>{{ finance.montant | currency:'Fcfa':'symbol':'4.2-2':'fr' }}</td>
        <td>{{ finance.date }}</td>
        <td *ngIf="finance.status === 'valide'" class="text-success">
          {{ finance.status }}
        </td>
        <td *ngIf="finance.status === 'en attente'" class="text-warning">
          {{ finance.status }}
        </td>
        <td *ngIf="finance.status === 'rejete' || finance.status === 'annule'" class="text-danger">
          {{ finance.status }}
        </td>
        <td *ngIf="rightState && rightState.update === 1">
          <button class="btn btn-outline-warning btn-sm" type="button" data-toggle="modal" data-target="#exampleModal15" (click)="OpenModalUpdate(finance)">
            Modifier
          </button>
        </td>
        <td>
          <button class="btn btn-outline-info btn-sm" type="button" data-toggle="modal" data-target="#exampleModal100" (click)="OpenModalPieceJointe(finance.piece_jointe)">
            Pièces
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</div>



<!-- Modal 4 -->
<div class="modal fade" id="exampleModal14" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création d'un financement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- first element -->
        <div *ngIf="state.question.receipt === false && state.question.give.question === false">
          <label>
            De quel type de financement s'agit-il ?
          </label>
          <div align="center">

            <div class="form-check form-check-inline">
              <button class="btn btn-outline-info" (click)="setChoiceOfFinancement('octroyer')">Octroyé un financement</button>
            </div>
            <div class="form-check form-check-inline">
              <button class="btn btn-outline-info" (click)="setChoiceOfFinancement('recu')">Recevoir un financement</button>
            </div>

          </div>
        </div>

        <!-- element if prefinancing is giving -->
        <div *ngIf="state.question.give.question === true && state.question.receipt === false" align="center" class="mt-4 mb-4">
          <label class="mr-4">
            A qui est destiné ce pré-financement ?
          </label>
          <div class="form-check form-check-inline">
            <button class="btn btn-outline-info" (click)="setChoiceGrantedPersonn('pisteur')">Pisteurs</button>
          </div>
          <div class="form-check form-check-inline">
            <button class="btn btn-outline-info" (click)="setChoiceGrantedPersonn('planteur')">Planteurs</button>
          </div>
          <br><br>
        </div>

        <!-- element if prefinancing is receipting  -->
       <div *ngIf="state.question.receipt === true">
        <div class="clearfix" *ngIf="isLoading.create === true">
          <span class="text-warning">Création d'un financement .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.create === true">
          Une erreur s'est produite. Veuillez vérifiez les informations inscrites svp !
        </div>
        <div class="alert alert-warning" *ngIf="warning.previsual === true">
          {{ warning.text }} <small>{{this.timer }}</small>
          <button class="btn btn-info btn-sm ml-5" (click)="CreateFinance()">Valider</button>
        </div>
          <small class="text-muted">Inscrivez les informations suivantes</small>
          <div class="row">
            <div class="col">
              <label for="">Entrez le compte récepteur</label>
              <div class="input-group mb-3" *ngIf="accountList">
                <select class="custom-select" name="account" [(ngModel)]="finance.compte_id" id="inputGroupSelect01" required >
                  <option *ngFor="let account of accountList" value="{{ account.id }}">{{ account.banque }}</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="">Entrez le partenaire</label>
              <div class="input-group mb-3" *ngIf='partnersData'>
                <select class="custom-select" name="partner" [(ngModel)]="addInput.partner" id="inputGroupSelect01" required>
                  <option *ngFor="let partner of partnersData" value="{{ partner.id }}">{{ partner.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Entrez le montant</label>
              <input type="number" name="montant" [(ngModel)]="finance.montant" class="form-control">
            </div>
            <div class="col">
              <label for="">Sélectionnez la date</label>
              <input type="date" name="date" [(ngModel)]="finance.date" class="form-control" id="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Entrez la preuve</label>
              <input type="file" name="preuve" [(ngModel)]="finance.piece_jointe" (change)="OnFileSelected($event)" id="" class="form-control">
            </div>
          </div>
       </div>

       <!-- element if prefinancing is giving truthly -->
       <div *ngIf="state.question.give.state === true">
        <div class="clearfix" *ngIf="isLoading.create === true">
          <span class="text-warning">Création d'un financement .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.create === true">
          Une erreur s'est produite. Veuillez vérifiez les informations inscrites svp !
        </div>
        <div class="alert alert-warning" *ngIf="warning.previsual === true">
          {{ warning.text }} <small>{{this.timer }}</small>
          <button class="btn btn-info btn-sm ml-5" (click)="CreateFinance()">Valider</button>
        </div>
          <small class="text-muted">Inscrivez les informations suivantes</small>
          <div class="row">
            <div class="col">
              <label for="">Entrez le compte récepteur</label>
              <div class="input-group mb-3" *ngIf="accountList">
                <select class="custom-select" name="account" [(ngModel)]="finance.compte_id" id="inputGroupSelect01" required >
                  <option *ngFor="let account of accountList" value="{{ account.id }}">{{ account.banque }}</option>
                </select>
              </div>
            </div>
            <div class="col" *ngIf="state.entity.pisteur === true">
              <label for="">Sélectionnez le pisteur</label>
              <div class="input-group mb-3" *ngIf='trackers'>
                <select class="custom-select" name="tracker" [(ngModel)]="addInput.pisteur" id="inputGroupSelect01" required>
                  <option *ngFor="let tracker of trackers" value="{{ tracker.id }}">{{ tracker.nom + ' ' + tracker.prenom }}</option>
                </select>
              </div>
            </div>
            <div class="col" *ngIf="state.entity.planteur === true">
              <label for="">Sélectionnez le planteur</label>
              <div class="input-group mb-3" *ngIf='planters'>
                <select class="custom-select" name="planter" [(ngModel)]="addInput.planteur" id="inputGroupSelect02" required>
                  <option *ngFor="let planter of planters" value="{{ planter.id }}">{{ planter.nom + ' ' + planter.prenom }}</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Entrez le montant</label>
              <input type="number" name="montant" [(ngModel)]="finance.montant" class="form-control">
            </div>
            <div class="col">
              <label for="">Sélectionnez la date</label>
              <input type="date" name="date" [(ngModel)]="finance.date" class="form-control" id="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Entrez la preuve</label>
              <input type="file" name="preuve" [(ngModel)]="finance.piece_jointe" (change)="OnFileSelected($event)" id="" class="form-control">
            </div>
          </div>
       </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" [disabled]="warning.registerBtn" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success" [disabled]="warning.registerBtn" (click)="Previsualisation($event)">Enregistrer</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Modal 5 -->
<div class="modal fade" id="exampleModal15" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="UpdateFinance($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modification d'un financement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf='financeFictious'>
        <div class="clearfix" *ngIf="isLoading.modify === true">
          <span class="text-warning">Modification d'un financement .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.modify === true">
          Une erreur s'est produite. Veuillez vérifiez les informations inscrites svp !
        </div>
          <small class="text-muted">Inscrivez les informations suivantes</small>
          <div class="row">
            <div class="col">
              <label for="">La pièce jointe</label>
              <input type="file" name="piece_jointe"  (change)='OnFileSelected2($event)' class="form-control">
            </div>
            <div class="col">
              <label for="">Sélectionnez la date</label>
              <input type="date" name="date" [(ngModel)]="financeFictious.date" class="form-control" id="">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Valider</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Modal 6 -->
<div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="DeleteFinance($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Motifs de désactivation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix" *ngIf="isLoading.close === true">
          <span class="text-warning">Désactiver le financement .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.close === true">
          Une erreur s'est produite. Veuillez réessayer plus tard svp !
        </div>
          <small class="text-muted">Notifier le motif</small>
          <div class="row">
            <div class="col">
              <label for="">Motifs</label>
              <textarea name="motifs" class="form-control" [(ngModel)]="financeDelete.motif" id="" cols="30" rows="5" ></textarea>
            </div>
          </div>
          <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </form>
  </div>
</div>



<!--  Modal 7 -->
<div class="modal fade" id="exampleModal100" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pièce en image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf='pieceJointe'>
        <p *ngIf="!pieceJointe">
          En chargement ...
        </p>
        <div *ngIf="pieceJointe[0] !== 'h' || pieceJointe === null" align="center">
          <img src="https://image.freepik.com/vecteurs-libre/panneau-signalisation-page-404-introuvable-illustration-plate_80328-232.jpg" width="90%  " height="90%" alt="">
          <p>
            <strong>
              Image non disponible !
            </strong>
          </p>
        </div>
        <img *ngIf="pieceJointe && pieceJointe[0] === 'h'" [src]=pieceJointe width="100%" height="500px" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        <!-- <button type="button" class="btn btn-success">OK</button> -->
      </div>
    </div>
  </div>
</div>





<!--  Modal 8 -->
<div class="modal fade" id="exampleModal518" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Simulation de financement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix" *ngIf="isLoading.simulate === true">
          <span class="text-warning">Mise en place de la simulation .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
         <!-- espace response -->
        <div class="row">
          <br>
          <div class="container pb-2 pt-2" *ngIf="simulateData.state === true">
            <h2>Estimation du nombre de kg : {{ simulateData.sac }}</h2>
          </div>
        </div>
        <!-- // espace response -->

        <!-- formulaire -->
          <div class="form-row">
            <div class="col">
              <label for="">Prix d'achât du kg</label>
              <input type="text" name="price" [(ngModel)]="simulateData.price" class="form-control" placeholder="">
            </div>
            <div class="col">
              <label for="">Montant du financement à octroyer</label>
              <input type="text" name="montant" [(ngModel)]="simulateData.montant" class="form-control" placeholder="">
            </div>
          </div>
        <!-- // formulaire -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-success" (click)="Simulation()">Valider</button>
      </div>
    </div>
  </div>
</div>
