.principal {
  height: 98vh;
  border-radius: 20px;
  background-color: white;
}

h5 {
  font-size: medium;
}

button {
  border-radius: 0;
}

.table-user  {
  height: 85vh;
  overflow-y: auto;

  padding: 0.5rem;
}

.table-user > table {
  height: 8vh;

}


select > option {
  text-transform: capitalize;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #28a745;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #28a745;
}
