<div class="row menu-home" align="center">
  <div class="col-md-12 menu-home-option active" id="home" (click)="isSelected('home')">
    <i class="large material-icons">
      home
    </i>
  </div>
  <div class="col-md-12 menu-home-option" id="user" (click)="isSelected('user')">
    <i class="large material-icons">
      account_circle
    </i>
  </div>
  <div class="col-md-12 menu-home-option" id="example" (click)="isSelected('example')" *ngIf="rightContent.finance.state === true">
    <i class="large material-icons" (click)="goToSalesPage()">
      compare_arrows
    </i>
    <span style="font-weight: 800;" *ngIf="histories">
      {{ histories }}
    </span>
  </div>
  <div class="col-md-12 menu-home-option" id="menu" (click)="isSelected('menu')">
    <i class="large material-icons">
      apps
    </i>
  </div>
</div>

<!--<div class="row menu-home" align="center">
  <div class="col-md-12 menu-home-option active" id="home" (click)="isSelected('home')">
    <i class="large material-icons">
      home
    </i>
  </div>
  <div class="col-md-12 menu-home-option" id="user" (click)="isSelected('user')">
    <i class="large material-icons">
      account_circle
    </i>
  </div>
  <div class="col-md-12 menu-home-option" id="example" (click)="isSelected('example')">
    <i class="large material-icons">
      home
    </i>
    <span style="font-weight: 800;" *ngIf="histories">
      {{ histories }}
    </span>
  </div>
  <div class="col-md-12 menu-home-option" id="menu" (click)="isSelected('menu')">
    <i class="large material-icons">
      apps
    </i>
  </div>
</div> -->
