<div class="container-fluid principal">

  <!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-lights p-4">
    <a class="navbar-brand text-dark">
      <i class="material-icons" style="cursor: pointer;font-size: 25px;" (click)="ComeBack()">
        chevron_left
      </i>
      Gestion Partenaires
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0 mr-5" type="button" data-toggle="modal" data-target="#exampleModal11" (click)="create()">
          + Nouveau partenaires
        </button>
        <div class="dropdown">
          <button class="btn btn-success text-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="userConnected">
            {{ userConnected.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Support</a>
            <a class="dropdown-item text-danger" (click)="Logout()" style="cursor: pointer;">Déconnexion</a>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <!--//nav bar -->
<div class="container-fluid table-user">
  <div class="text-center" *ngIf="isLoading.data === true">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table datatable class="row-border hover" [dtTrigger]="dtTrigger" id="table" style="">
    <thead>
      <tr>
        <th>Nom & Prénoms</th>
        <th>Type</th>
        <th>Catégorie</th>
        <th>Description</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partner of partnersData">
        <td>{{ partner.name }}</td>
        <td>{{ partner.type }}</td>
        <td>{{ partner.categorie }}</td>
        <td>{{ partner.description }}</td>
        <td>{{ partner.created_at | date }}</td>
        <td class="text-success" *ngIf="partner.status === 'active'">{{ partner.status }}</td>
        <td class="text-danger" *ngIf="partner.status === 'inactive'">{{ partner.status }}</td>
        <td>
          <button class="btn btn-outline-info btn-sm" (click)="goToProfile(partner.id)">
            Profil
          </button>
        </td>
        <td>
          <button class="btn btn-outline-warning btn-sm" type="submit" data-toggle="modal" data-target="#exampleModal12" (click)="OpenModalUpdate(partner)">
            Modifier
          </button>
        </td>
        <td *ngIf="partner.status === 'active'">
          <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal13" (click)="OpenModelDelete(partner.id)">Désactiver</button>
        </td>
        <td *ngIf="partner.status === 'inactive'">
          <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#exampleModal3">Activer</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</div>



<!-- Modal 4 -->
<div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="CreatePartner($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création d'un partenaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix" *ngIf="isLoading.create === true">
          <span class="text-warning">Création d'un partenaire .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.create === true">
          Une erreur s'est produite. Veuillez vérifiez les informations inscrites svp !
        </div>
          <small class="text-muted">Inscrivez les informations suivantes</small>
          <div class="row">
            <div class="col">
              <label for="">Choisir le type</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="type" [(ngModel)]="partners.type" id="inputGroupSelect01"  required>
                  <option value="personne physique">Personne Physique</option>
                  <option value="personne morale">Personne Morale</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="">Choisir la catégorie</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="categorie" [(ngModel)]="partners.categorie" id="inputGroupSelect01" (change)="OnTyped($event)" required>
                  <option value="particulier" *ngIf="partners.type === 'personne physique'">Particulier</option>
                  <option value="organisme de financement" *ngIf="partners.type === 'personne morale'">Organisme de financement</option>
                  <option value="exportateur" *ngIf="partners.type === 'personne morale'">Exportateur</option>
                  <option value="autres" *ngIf="partners.type === 'personne morale'">Autres</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row" *ngIf="stateCode === true">
            <div class="col">
              <label for="">Inscrivez le code de l'exportateur</label>
              <input type="text" name="code" [(ngModel)]="partners.code" class="form-control" id="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Choisir un status</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="status" [(ngModel)]="partners.status" id="inputGroupSelect01" required>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="">Entrez le nom</label>
              <input type="text" name="name" [(ngModel)]="partners.name" class="form-control" placeholder="" required>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col">
              <label for="">Entrez la description</label>
              <textarea type="text" name="description" [(ngModel)]="partners.description" class="form-control" placeholder="" required>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Modal 5 -->
<div class="modal fade" id="exampleModal12" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="UpdatePartner($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modification d'un partenaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="partnersFictious">
        <div class="clearfix" *ngIf="isLoading.modify === true">
          <span class="text-warning">Modification d'un partenaire .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.create === true">
          Une erreur s'est produite. Veuillez vérifiez les informations inscrites svp !
        </div>
          <small class="text-muted">Inscrivez les informations suivantes</small>
          <div class="row">
            <div class="col">
              <label for="">Le type</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="type" [(ngModel)]="partnersFictious.type" id="inputGroupSelect01" required>
                  <option value="personne physique">Personne Physique</option>
                  <option value="personne morale">Personne Morale</option>
                  <option value="inconnu">Je ne sais pas</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="">La catégorie</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="categorie" [(ngModel)]="partnersFictious.categorie" id="inputGroupSelect01" required>
                  <option value="particulier">Particulier</option>
                  <option value="banque">Banque</option>
                  <option value="acheteur">Acheteur</option>
                  <option value="autres">Autres</option>
                </select>
              </div>
            </div>

          </div>
          <br>
          <div class="row" *ngIf="partnersFictious.code">
            <div class="col">
              <label for="">Le code exportateur</label>
              <input type="text" class="form-control" name="code" [(ngModel)]="partnersFictious.code" id="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Le status</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="status" [(ngModel)]="partnersFictious.status" id="inputGroupSelect01" required>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="">Le nom</label>
              <input type="text" name="name" [(ngModel)]="partnersFictious.name" class="form-control" placeholder="" required>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col">
              <label for="">La description</label>
              <input type="text" name="description" [(ngModel)]="partnersFictious.description" class="form-control" placeholder="" required>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Valider</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Modal 6 -->
<div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="ClosedPartner($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Motifs de désactivation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix" *ngIf="isLoading.close === true">
          <span class="text-warning">Désactiver le partenaire .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.close === true">
          Une erreur s'est produite. Veuillez réessayer plus tard svp !
        </div>
          <small class="text-muted">Notifier le motif</small>
          <div class="row">
            <div class="col">
              <label for="">Motifs</label>
              <textarea name="motifs" class="form-control" [(ngModel)]="partnerDesactif.motif" id="" cols="30" rows="5" ></textarea>
            </div>
          </div>
          <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </form>
  </div>
</div>



<!--  Modal 7
<div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pièce en image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf='detailPiece'>
        <p *ngIf="detailPiece.image === ''">
          En chargement ...
        </p>
        <img *ngIf="detailPiece.image !== ''" [src]=detailPiece.image width="100%" height="500px" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-success">OK</button>
      </div>
    </div>
  </div>
</div> -->
