<div class="container-fluid principal">

  <!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-lights p-4">
    <a class="navbar-brand text-dark">
      <i class="material-icons" style="cursor: pointer;font-size: 25px;" (click)="ComeBack()">
        chevron_left
      </i>
      Gestion Objectif
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-info my-2 my-sm-0 mr-5" type="button" data-toggle="modal" data-target="#exampleModal25">
          + Nouveau objectif
        </button>
        <div class="dropdown">
          <button class="btn btn-success text-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="userConnected">
            {{ userConnected.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Support</a>
            <a class="dropdown-item text-danger" (click)="Logout()" style="cursor: pointer;">Déconnexion</a>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <!--//nav bar -->
<div class="container-fluid table-user">
  <div class="text-center" *ngIf="isLoading.data === true">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <table datatable class="row-border hover" [dtTrigger]="dtTrigger" id="table" style="">
    <thead>
      <tr>
        <th>Type</th>
        <th>Quantité</th>
        <th>Unité</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th>Concerné</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let objectif of objectives">
        <td>{{ objectif.type }}</td>
        <td>{{ objectif.quantite }}</td>
        <td>{{ objectif.unite }}</td>
        <td>{{ objectif.date_debut | date }}</td>
        <td>{{ objectif.date_fin | date }}</td>
        <td>{{ objectif.name.nom + ' ' + objectif.name.prenom }}</td>
        <td>
          <button class="btn btn-outline-warning btn-sm" type="submit" data-toggle="modal" data-target="#exampleModal26" (click)="OpenModalUpdate(objectif)">
            Modifier
          </button>
        </td>
        <td>
          <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#exampleModal13" (click)="OpenModalDelete(objectif.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</div>



<!-- Modal 4 -->
<div class="modal fade" id="exampleModal25" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="CreateObjectif($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création d'un objectif</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix" *ngIf="isLoading.create === true">
          <span class="text-warning">Création d'un objectif .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.create === true">
          Une erreur s'est produite. Veuillez vérifiez les informations inscrites svp !
        </div>
          <small class="text-muted">Inscrivez les informations suivantes</small>
          <div class="row">
            <div class="col">
              <label for="">Choisir le type</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="type" [(ngModel)]="objectif.type" id="inputGroupSelect01" (change)="OnSelected($event)"  required>
                  <option value="partenaire">Partenaire</option>
                  <option value="pisteur">Pisteur</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="">Choisir l'unité</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="unite" [(ngModel)]="objectif.unite" id="inputGroupSelect01" required>
                  <option value="kg">Kilogramme (kg)</option>
                  <option value="tonne">Tonne (t)</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Entrez la quantité</label>
              <input type="text" name="quantite" [(ngModel)]="objectif.quantite" class="form-control" id="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Entrez la date du début</label>
              <input type="date" name="date_debut" [(ngModel)]="objectif.date_debut" class="form-control" placeholder="" required>
            </div>
            <div class="col">
              <label for="">Entrez la date de fin</label>
              <input type="date" name="date_fin" [(ngModel)]="objectif.date_fin" class="form-control" placeholder="" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col" *ngIf='state.tracker === true'>
              <label for="">Choisir le pisteur</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="unite" [(ngModel)]="objectif.personne_id" id="inputGroupSelect01" required>
                  <option *ngFor="let tracker of trackers" value="{{ tracker.id }}">{{ tracker.nom + ' ' + tracker.prenom }}</option>
                </select>
              </div>
            </div>
            <div class="col" *ngIf='state.partner === true'>
              <label for="">Choisir le partenaire</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="unite" [(ngModel)]="objectif.personne_id" id="inputGroupSelect01" required>
                  <option *ngFor="let partner of partners" value="{{ partner.id }}">{{ partner.name }}</option>
                </select>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Enregistrer</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Modal 5 -->
<div class="modal fade" id="exampleModal26" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="UpdateObjective($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modification d'un objectif</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="objectivesFictious">
        <div class="clearfix" *ngIf="isLoading.modify === true">
          <span class="text-warning">Modification d'un objectif .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.modify === true">
          Une erreur s'est produite. Veuillez vérifiez les informations inscrites svp !
        </div>
          <small class="text-muted">Inscrivez les informations suivantes</small>
          <div class="row">
            <div class="col">
              <label for="">Choisir le type</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="type" [(ngModel)]="objectivesFictious.type" id="inputGroupSelect01" (change)="OnSelected($event)"  required>
                  <option value="partenaire">Partenaire</option>
                  <option value="pisteur">Pisteur</option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="">Choisir l'unité</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="unite" [(ngModel)]="objectivesFictious.unite" id="inputGroupSelect01" required>
                  <option value="kg">Kilogramme (kg)</option>
                  <option value="tonne">Tonne (t)</option>
                </select>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Entrez la quantité</label>
              <input type="text" name="quantite" [(ngModel)]="objectivesFictious.quantite" class="form-control" id="">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <label for="">Entrez la date du début</label>
              <input type="date" name="date_debut" [(ngModel)]="objectivesFictious.date_debut" class="form-control" placeholder="" required>
            </div>
            <div class="col">
              <label for="">Entrez la date de fin</label>
              <input type="date" name="date_fin" [(ngModel)]="objectivesFictious.date_fin" class="form-control" placeholder="" required>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col" *ngIf="objectivesFictious.type === 'pisteur'">
              <label for="">Choisir le pisteur</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="unite" [(ngModel)]="objectivesFictious.personne_id" id="inputGroupSelect01" required>
                  <option *ngFor="let tracker of trackers" value="{{ tracker.id }}">{{ tracker.nom + ' ' + tracker.prenom }}</option>
                </select>
              </div>
            </div>
            <div class="col" *ngIf="objectivesFictious.type === 'partenaire'">
              <label for="">Choisir le partenaire</label>
              <div class="input-group mb-3">
                <select class="custom-select" name="unite" [(ngModel)]="objectivesFictious.personne_id" id="inputGroupSelect01" required>
                  <option *ngFor="let partner of partners" value="{{ partner.id }}">{{ partner.name }}</option>
                </select>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-success">Valider</button>
      </div>
    </div>
  </form>
  </div>
</div>


<!-- Modal 6 -->
<div class="modal fade" id="exampleModal13" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <form method="POST" (ngSubmit)="DeleteObjectif($event)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ATTENTION</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="clearfix" *ngIf="isLoading.close === true">
          <span class="text-warning">Suppression de l'objectif .....</span>
          <div class="spinner-border float-right text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="error.close === true">
          Une erreur s'est produite. Veuillez réessayer plus tard svp !
        </div>
          <div class="row">
            <div class="col" align="center">
              <h2>Votre action est irréversible ! Êtes-vous sûr de vouloir supprimer l'objectif ? </h2>
            </div>
          </div>
          <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-danger">Confirmer</button>
      </div>
    </div>
  </form>
  </div>
</div>



<!--  Modal 7
<div class="modal fade" id="exampleModal11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pièce en image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf='detailPiece'>
        <p *ngIf="detailPiece.image === ''">
          En chargement ...
        </p>
        <img *ngIf="detailPiece.image !== ''" [src]=detailPiece.image width="100%" height="500px" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-success">OK</button>
      </div>
    </div>
  </div>
</div> -->
