/* You can add global styles to this file, and also import other style files */
.black {
  background-color: black;
}

* {
  font-family: 'Comfortaa', cursive;
}


h5, h3, h2, h1, h4, a {
  /*font-family: 'Train One', cursive;*/
  font-family: 'Comfortaa', cursive;
}

p, label, small, button, span, li {
  /*font-family: 'Fredoka One', cursive;*/
  /*font-family: 'Roboto Mono', monospace;*/
  font-family: 'Comfortaa', cursive;
}


td {
  text-transform: capitalize;
}
