.full-screen {
  height: 100vh;
  /*background-color: rgb(202, 187, 187);*/
  /*background-color: #28a745 !important;*/
  background-image: url("https://cdn.pixabay.com/photo/2015/07/22/15/45/cashew-nut-855733_960_720.jpg");
  background-size: cover;
  filter:blur(2px);
  -o-filter:blur(2px);
  -ms-filter:blur(2px);
  -moz-filter:blur(2px);
  -webkit-filter:blur(2px);
}

.side {
  height: 100vh;
}


.main {
  height: 100vh;
  padding-top: 0.5rem;
}

.content {
  position: absolute;
  top: 0;
}
